:root {
    --blanc1: #F5FCF5;
    --blanc2: #FCF1ED;
    --rouge: #17875F;
    --rose1: #FC5656;
    --rose2: #CC333F;
    --sombre: #501108;
}

@font-face {
    font-family: 'Degila';
    font-style: normal;
    src: url('/assets/fonts/Degila.ttf') format(truetype);
    src: url('/assets/fonts/Degila.woff2') format(woff2);
    src: url('/assets/fonts/Degila.woff') format(woff);
    src: url('/assets/fonts/Degila.otf') format(otf)
}

@font-face {
    font-family: 'Degila';
    font-style: italic;
    src: url('/assets/fonts/Degila\ Italic.ttf') format(truetype);
    src: url('/assets/fonts/Degila\ Italic.woff') format(woff);
    src: url('/assets/fonts/Degila\ Italic.woff2') format(woff2);
    src: url('/assets/fonts/Degila\ Italic.otf') format(otf)
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--blanc2);
    color: var(--sombre);
    overflow-x: hidden;
}

h1 {
    font-family: 'Degila', sans-serif;
    font-size: 35px;
}

h2 {
    font-family: 'Degila', sans-serif;
    font-size: 25px;
    margin-bottom: 40px;
    margin-top: 80px;
}

h3 {
    font-family: 'Sarabun', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    position: absolute;
    color: var(--blanc2);
}

p, figcaption {
    font-family: 'Sarabun', sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

figcaption{
    margin-bottom: 20px;
}

figure{
    margin: 40px 0;
}

.btn {
    font-family: 'Degila', sans-serif;
    font-size: 20px;
    border: 2px solid var(--rouge);
    border-radius: 10px;
    color: var(--blanc2);
    padding: 9px 18px;
    margin: 10px 0;
    position: absolute;
}

.btn:hover {
    background-color: var(--rouge);
    transition: 0.5s;
}

strong {
    font-weight: 700;
}

i {
    font-style: italic;
}

ol,
ul,
li {
    list-style: none;
    font-family: 'Sarabun', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}

.source{
    font-size: 16px;
    margin-top: 80px;
}











header {
    font-family: 'Degila', sans-serif;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

header nav {
    text-align: center;
    margin-top: 3%;
}

header nav a {
    color: var(--sombre);
    position: relative;
}

.here{
    color: #C44201;
}






.haut nav ol li a:hover, .haut p a:hover, .desc p a:hover {
    font-weight: 700;
}












header nav a::after,
footer div address a::after,
footer div nav a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    background: var(--rouge);
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

header nav a:hover,
footer div address a:hover,
footer div nav a:hover {
    opacity: 75%;
}

header nav a:hover::after,
footer div address a:hover::after,
footer div nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


header nav :nth-child(2) {
    margin: 1rem;
}











.haut {
    border-radius: 30px;
    margin: 3%;
    padding: 0 10%;
    color: var(--sombre);
    position: relative;
    width: 73%;
    --lenght: 100%;
}

.haut header,
.foot {
    text-align: center;
    align-content: center;
    justify-content: center;
}

.haut header {
    position: relative;
    margin-top: 50px;
}

.logo {
    opacity: 40%;
}

.foot img {
    position: relative !important;
    margin-right: 10px !important;
    width: 125px !important;
    top: 0 !important;
    left: 0!important;
    transform: translate(0, 0)!important;
    opacity: 1!important;
}

.foot {
    display: flex;
    margin-bottom: 80px;
}

.foot h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.haut p {
    max-width: 800px;
}

.haut p a {
    position: relative;
    text-decoration: underline;
}

.haut>header,
.haut>p,
.haut>a {
    margin-bottom: 40px;
}

.angles img.gauche {
    position:absolute;
    width:20vw;
    max-width: 450px;
    top:0;
    left:20px;
}

.angles img.droit {
    position:absolute;
    width:20vw;
    max-width: 450px;
    top:0;
    right:20px;
}

.angles{
    display: flex; 
    width: 100vw;
    z-index: -10;
    position:absolute;
    top:0;
}

.haut.home img{
    position: absolute;
    width: 250px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}




.haut nav ol {
    display: flex;
    position: relative;
    margin-bottom: 80px;
    color: var(--sombre);
}

.haut nav a {
    position: relative;
    text-decoration: underline;
    color: var(--sombre);
}

.haut nav a::before {
    background: rgb(252, 86, 86);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;

}

.haut nav a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}









.moi_index {
    margin: 130px 13%;
}

.projets_index {
    margin: 80px 13%;
}

.projets_index nav {
    margin-top: 40px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.projet {
    background-image: url("/assets/images/Rectangle.svg");
    border-radius: 20px;
    background-repeat: no-repeat;
    text-decoration: none;
    background-size: cover;
    height: 220px;
    width: 350px;
    position: relative;
    margin-bottom: 40px;
}

.projets_index aside {
    display: flex;
    width: 100%;
    justify-self: center;
    justify-items: center;

}

.projet p,
.projetProj p {
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    padding: 25% 15%;
    color: var(--blanc1);
    font-weight: 700;
    font-family: 'Sarabun', sans-serif;
    font-size: 25px;

}

.projets_index .btn, .moi_index .btn {
    color: var(--sombre);
    margin-bottom: 40px;
    position: absolute;
}

.projets_index .btn:hover, .moi_index .btn:hover,
.desc .btn:hover {
    color: var(--blanc1);
}








.desc {
    margin: 40px 13%;
    max-width: 800px;
    color: var(--sombre);
}

.desc a {
    color: var(--sombre);
    position: relative;
    text-decoration: underline;
}

.desc p {
    margin-bottom: 40px;
}

.desc:last-child {
    margin-bottom: 80px;
}

.desc .btn img {
    width: 14px;
    color: var(--sombre);
}

.desc section img,
.desc p a img {
    margin-right: 10px;
}

.desc img.dessins {
    max-width: 75vw;
    margin-bottom:20px;
}

.videoResponsive {
    padding-bottom: 56.25%;
    height: 0;
    position: relative;
    padding-top: 30px;
    overflow: hidden;
}

.videoResponsive iframe,
.videoResponsive object,
.videoResponsive embed {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}











.projets_index div {
    /* justify-content: space-between; */
    display: flex;
    flex-wrap: wrap;
}


.container {
    overflow: hidden;
}

.projetProj {
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    text-decoration: none;
    height: 220px;
    width: 350px;
    margin-bottom: 40px;
    text-align: center;
    display: none;
    position: relative;
}

.show {
    display: block;
}

.select {
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Degila', sans-serif;
    font-size: 18px;
    color: var(--sombre);
    border: 2px solid var(--sombre);
    border-radius: 10px;
    padding: 5px 10px;
    background-color: var(--blanc2);
    margin-bottom: 20px;
    margin-right: 20px;
}


.select:hover {
    background-color: var(--sombre);
    color: var(--blanc1);
    transition: 0.5s;
}

.select.active {
    background-color: var(--rouge);
    color: var(--blanc1);
    border: 2px solid var(--rouge);
}







.dessin {
    background-image: url("/assets/images/projets/dessins.png");
}

.portfolio23 {
    background-image: url("/assets/images/projets/portfolio2023.png");
}

.portfolio22 {
    background-image: url("/assets/images/projets/portfolio2022.png");
}

.cibc {
    background-image: url("/assets/images/projets/cibc.jpg");
}

.musba {
    background-image: url("/assets/images/projets/musba.jpg");
}

.halyna {
    background-image: url("/assets/images/projets/halyna.jpg");
}

.euz {
    background-image: url("/assets/images/projets/euziere.jpg");
}

.cspo {
    background-image: url("/assets/images/projets/cspo.jpg");
}

.boc {
    background-image: url("/assets/images/projets/boc.jpg");
}

.pokemon,
.goya,
.tehtris,
.seoree {
    background-image: url("/assets/images/Rectangle.svg");
}

.miecolo {
    background-image: url("/assets/images/projets/miecolo.png");
}

.tableau {
    background-image: url("/assets/images/projets/tableau.png");
}


.leuko {
    background-image: url("/assets/images/projets/leuko.png");
}

.luban {
    background-image: url("/assets/images/projets/luban.png");
}

.luciole {
    background-image: url("/assets/images/projets/luciole.png");
}

.v3 {
    background-image: url("/assets/images/projets/v3.png");
}

.gorokhova {
    background-image: url("/assets/images/projets/gorokhova.png");
}

.greener {
    background-image: url("/assets/images/projets/greener.png");
}

.apollo {
    background-image: url("/assets/images/projets/apollo.png");
}

.george {
    background-image: url("/assets/images/projets/george.png");
}

.ecosysteme {
    background-image: url("/assets/images/projets/ecosysteme.png");
}

.lasswell {
    background-image: url("/assets/images/projets/lasswell.png");
}

.capc {
    background-image: url("/assets/images/projets/capc.png");
}

.protocole {
    background-image: url("/assets/images/projets/protocole3c.png");
}









.content{
    margin: 0 13%;
}

.skills{
    flex-wrap:wrap;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.skills div{
    width: 300px;
    margin-right: 40px;
    display: inline;
}

.skills div section img{
    margin-right: 10px;
    max-width: 50px;
    margin-top: 20px;
}











footer {
    background-color: var(--sombre);
    border-radius: 30px 30px 0 0;
    margin: 3%;
    margin-bottom: 0;
    padding: 10%;
    padding-bottom: 5%;
    color: var(--blanc1);
    width: 73%;

    display: flex;
    flex-wrap: wrap;
}

footer div {
    margin-right: 20%;
}

footer address a,
footer address p,
footer nav a {
    color: var(--blanc1);
    font-family: 'Sarabun', sans-serif;
    font-size: 18px;
    font-style: normal;

}

footer h3 {
    margin-bottom: 10px;
}

footer address {
    margin-bottom: 40px;
    line-height: 30px;
}

footer address p a img {
    height: 14px;
}

footer nav {
    line-height: 30px;
}







@media only screen and (max-width: 500px){
    .haut nav ol{
        margin-top:70px;
        margin-bottom:50px;
    }

    .angles{
        top:50px;
    }

    .angles img{
        max-width:50px;
    }
}